/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
public/css/src_sass
public/css/fonts
*.DS_Store
public/files/*
public/archivos/actividades/*
public/archivos/fellows/*
public/archivos/fellowsEva/*
public/img/users/*
public/img/newsEvent/*
public/js/bower_components/
csv/cities.csv
csv/survey_fac_results/*
composer.lock
