/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
composer.lock
public/css/src_sass
public/css/fonts
*.DS_Store
public/files/*
public/archivos/actividades/*
public/archivos/fellows/*
public/archivos/fellowsEva/*
public/img/users/*
public/img/newsEvent/*
public/js/bower_components/
csv/cities.csv
csv/survey_fac_results/*
csv/survey_fellow_results/*
csv/survey_images_fellow/*
csv/survey_images_facilitator/*
csv/survey_fac_answers/*
csv/survey_fellow_answers/*
csv/reports/*
csv/aspirants_count.xslx
csv/aspirants_results.xslx
csv/aspirants_interview_results.xslx
