/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
public/css/src_sass
public/css/fonts
*.DS_Store
public/files/*
public/archivos/actividades/*
public/img/users/*
public/js/bower_components/
